.features-3 {
  padding: 12rem 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 12.8rem;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    padding: 8rem 2.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 8rem 1rem;
  }

  &__container {
    padding: 0 4.8rem;
    display: flex;
    gap: 6.4rem;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      padding: 0 2.4rem;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column-reverse;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 0 2rem;
    }
  }

  &__container-2 {
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  &__img-1 {
    margin-right: -30rem;

    @media only screen and (max-width: $bp-large) {
      margin-right: -50rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__img-2 {
    margin-left: -30rem;

    @media only screen and (max-width: $bp-large) {
      margin-left: -50rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__features {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color: $color-gray-1;

    h5 {
      opacity: 0.8;
      @include h5;
    }

    p {
      opacity: 0.6;
      @include para;
    }

    a:link,
    a:visited {
      @include small;
      color: $color-primary-1;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      text-decoration: none;

      svg {
        height: 1.8rem;
        width: 1.8rem;
      }

      transition: all 0.3s;

      svg {
        transition: all 0.3s;
      }

      span {
        border-bottom: 1px solid transparent;
        transition: all 0.3s;
      }

      &:hover {
        span {
          border-bottom: 1px solid $color-primary-1;
        }
        svg {
          transform: translateX(1rem);
        }
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
